.c30 {color: #000000;}
.c31 {color: #e00000;}
.c32 {color: #008000;}
.c33 {color: #808000;}
.c34 {color: #0000ff;}
.c35 {color: #d000d0;}
.c36 {color: #33a0a0;}
.c37 {color: #000000;}
body{
	background:url("../img/bg.jpg");
	word-wrap: break-word;
	padding-top: 60px;
}
#main{
	width:1200px;
	margin-left:-130px;
}
.simpleheader{
	display:block;
	overflow:hidden;
}
.s_abstract{
	display:block;
	color:black;
}
.simpleheader{
	margin:20px 0 20px 0;
	width:100%;
	font-size:40px;
	line-height:50px;
	padding:10px;
	opacity:0.9;
}
.s_author{
	width:25%;
	float:left;
	height:50px;
	overflow:hidden;
}
.s_title{
	float:right;
	height:50px;
	width:75%;
	overflow:hidden;
}
.s_abstract{
	float:left;
	clear:both;
	font-size:56px;
	line-height:60px;
	min-height:80px;
	max-height:180px;
}