<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>饮水思源涂鸦墙</title>

	<!--bootstrap是一个很著名的前端UI框架，帮助前端开发者很快能够应用漂亮的组件。 -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
	<!--几乎所有的css都会写在style.css里。事实上可以预期，其中充满了不需要的css规则。-->
	<link href="css/style.css" rel="stylesheet">
	
	<!--理论上所有的JS文件应该放在HTML文件末端以加快网页加载速度，但水源墙应用场景非常特殊。我们有很多时间来加载
		它，然而我们绝不能容忍它看起来加载了，但是又没有立刻开始工作。所有的库都是用min版本。-->
	<!--以下是AngularJS，一个基于MVC的，封装DOM操作的非常好用的前端库。作者一开始不大喜欢它，但是发现一个来自波兰的
	前端白痴在很容易地使用它，所以惊讶于它平滑的学习曲线，所以打算找一个项目来试试。事实上这就是我更新水源墙到版本2的理由。-->
	<script src="js/angular.js"></script>
	<!--api.js封装了几个获取水源板面数据的接口。API由fcfarseer@yssy提供-->
	<script src="js/api.js"></script>
	<!--其他的JavaScript写在这里-->
	<script src="js/yssywall.js"></script>

  </head>

  <body ng-app  ng-controller="postsController">
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="brand active" id="brand">饮水思源涂鸦墙</span>
		  <div class="pull-right" id = "info">
              <span>在 <span id="board_name">{{board}}</span> 板发表帖子，被标记后即会上墙哦！</span>
            </div>
        </div><!--end of container -->
      </div><!--end of navbar-inner-->
    </div><!-- end of navbar -->


    <div class="container">
	
		<!--墙主体部分。稍后会自动填充-->
		<div class="row-fluid" id="main">
			<div class="simpleheader alert alert-info"  ng-repeat="post in postsShowing">
				 <div class="s_author">{{post.author}}</div>
				 <div class="s_title">{{post.title}}</div>
				 <div class="s_abstract" >{{post.content}}</div>
			
			</div>
		</div><!--end of main-->
		<div id="status">
			<button class="btn btn-danger btn-large shown" ng-click="prev()"><i class="icon-backward"></i>{{postsShown.length}}</button>
			<button class="btn btn-large" ng-click="toggleAuto()">{{auto}}</button>
			<button class="btn btn-success btn-large toShow" ng-click="next()">{{postsToShow.length}}<i class="icon-forward"></i></button>
    </div> <!--end of container -->


</body>
</html>
